@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'NBInternationalProBoo';
    src: url('./assets/Fonts/NBInternationalProBoo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RejouiceHeadline';
    src: url('./assets/Fonts/Rejouice-Headline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

li {

    font-family: 'NBInternationalProBoo', sans-serif;
}

body {
    font-family: 'NBInternationalProBoo', sans-serif;
    background-color: #FAF8F3;
    /* Default font */
}

.main {
    overflow: hidden;
    /* This prevents scrollbars from appearing */
}

h1,
h3,
.headline,
span {
    color: #FFFCF1;
    font-family: 'RejouiceHeadline', sans-serif;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#FAF8F3;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}


.hoverEffect:hover img {
    /* z-index: 0; */
    opacity: 0;
    transition: 0.5s;
}

.swiper-wrapper {
    align-items: end;
}


.lineEffect {
    -webkit-text-stroke-color:#FAF8F3;
    /* -webkit-text-stroke-width: 0.2px; */
}

.lineEffect::before,
.lineEffect::after {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    background-color: #000;
}

.lineEffect::before {
    width: 100%;
    right: 0;
    transition: width 0.25s ease-out;
}

.lineEffect::after {
    transition: width 0.35s ease-in-out;
    left: 0;
}

.lineEffect:hover::before {
    width: 0%;
}
.lineEffect:hover::after {
    width: 100%;
}
